.close-btn{
    height: 40px !important;
    border-radius: 4px;
    background-color: #025d88;
    box-shadow: none !important;
}
.resync-btn{
    height: 40px !important;
    border-radius: 4px;
    background-color: #007ab3;
    box-shadow: none !important; 
    color: white;   
}