// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #1b77a6;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** Custom Colors **/
  --bene-table-gray-shade: #e5e5e5;

  /** Status Colors **/
  --ion-color-pending: #8497b0;
  --ion-color-pending-rgb: 132,151,176;
  --ion-color-pending-contrast: #ffffff;
  --ion-color-pending-contrast-rgb: 0,0,0;
  --ion-color-pending-shade: #74859b;
  --ion-color-pending-tint: #90a1b8;

  --ion-color-submitted: #385723;
  --ion-color-submitted-rgb: 56,87,35;
  --ion-color-submitted-contrast: #ffffff;
  --ion-color-submitted-contrast-rgb: 255,255,255;
  --ion-color-submitted-shade: #314d1f;
  --ion-color-submitted-tint: #4c6839;

  --ion-color-expiring: #843c0c;
  --ion-color-expiring-rgb: 132,60,12;
  --ion-color-expiring-contrast: #ffffff;
  --ion-color-expiring-contrast-rgb: 255,255,255;
  --ion-color-expiring-shade: #74350b;
  --ion-color-expiring-tint: #905024;

  --ion-color-offline: #595959;
  --ion-color-offline-rgb: 89,89,89;
  --ion-color-offline-contrast: #ffffff;
  --ion-color-offline-contrast-rgb: 255,255,255;
  --ion-color-offline-shade: #4e4e4e;
  --ion-color-offline-tint: #6a6a6a;

  /** AJ Colors **/
  --ion-color-aj-primary: #69a1d5;
  --ion-color-aj-primary-rgb: 105,161,213;
  --ion-color-aj-primary-contrast: #000000;
  --ion-color-aj-primary-contrast-rgb: 0,0,0;
  --ion-color-aj-primary-shade: #5c8ebb;
  --ion-color-aj-primary-tint: #78aad9;

  --ion-color-aj-success: #a9d18e;
  --ion-color-aj-success-rgb: 169,209,142;
  --ion-color-aj-success-contrast: #000000;
  --ion-color-aj-success-contrast-rgb: 0,0,0;
  --ion-color-aj-success-shade: #95b87d;
  --ion-color-aj-success-tint: #b2d699;
}

/** Custom Color Classes **/
.ion-color-aj-primary {
  --ion-color-base: var(--ion-color-aj-primary);
  --ion-color-base-rgb: var(--ion-color-aj-primary-rgb);
  --ion-color-contrast: var(--ion-color-aj-primary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-aj-primary-contrast-rgb);
  --ion-color-shade: var(--ion-color-aj-primary-shade);
  --ion-color-tint: var(--ion-color-aj-primary-tint);
}

.ion-color-aj-success {
  --ion-color-base: var(--ion-color-aj-success);
  --ion-color-base-rgb: var(--ion-color-aj-success-rgb);
  --ion-color-contrast: var(--ion-color-aj-success-contrast);
  --ion-color-contrast-rgb: var(--ion-color-aj-success-contrast-rgb);
  --ion-color-shade: var(--ion-color-aj-success-shade);
  --ion-color-tint: var(--ion-color-aj-success-tint);
}

.ion-color-pending {
  --ion-color-base: var(--ion-color-pending);
  --ion-color-base-rgb: var(--ion-color-pending-rgb);
  --ion-color-contrast: var(--ion-color-pending-contrast);
  --ion-color-contrast-rgb: var(--ion-color-pending-contrast-rgb);
  --ion-color-shade: var(--ion-color-pending-shade);
  --ion-color-tint: var(--ion-color-pending-tint);
}

.ion-color-submitted {
  --ion-color-base: var(--ion-color-submitted);
  --ion-color-base-rgb: var(--ion-color-submitted-rgb);
  --ion-color-contrast: var(--ion-color-submitted-contrast);
  --ion-color-contrast-rgb: var(--ion-color-submitted-contrast-rgb);
  --ion-color-shade: var(--ion-color-submitted-shade);
  --ion-color-tint: var(--ion-color-submitted-tint);
}

.ion-color-expiring {
  --ion-color-base: var(--ion-color-expiring);
  --ion-color-base-rgb: var(--ion-color-expiring-rgb);
  --ion-color-contrast: var(--ion-color-expiring-contrast);
  --ion-color-contrast-rgb: var(--ion-color-expiring-contrast-rgb);
  --ion-color-shade: var(--ion-color-expiring-shade);
  --ion-color-tint: var(--ion-color-expiring-tint);
}

.ion-color-offline {
  --ion-color-base: var(--ion-color-offline);
  --ion-color-base-rgb: var(--ion-color-offline-rgb);
  --ion-color-contrast: var(--ion-color-offline-contrast);
  --ion-color-contrast-rgb: var(--ion-color-offline-contrast-rgb);
  --ion-color-shade: var(--ion-color-offline-shade);
  --ion-color-tint: var(--ion-color-offline-tint);
}
